.toolbar-icon {
  padding: 0 14px;
}

.toolbar-icon-spacer {
  flex: 1 1 auto;
}

.app-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

Button:hover{
  color: inherit;
}

button{
  color: black;
}

/*.mat-button {*/
  /*font-family: Roboto,"Helvetica Neue",sans-serif;*/
  /*font-size: 14px;*/
  /*font-weight: 500;*/
/*}*/
