.wine-card {
  max-width: 400px;
}
.wine-card-header-image {
  /*background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');*/
  background-size: cover;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
/*img {*/
  /*width: 100%;*/
  /*height: auto;*/
  /*background: url('../../assets/wine-bottle_placeholder.svg') no-repeat;*/
/*}*/
/*.placeholder {*/
  /*width: 100%;*/
  /*height: auto;*/
  /*background: url('../../assets/wine-bottle_placeholder.svg') no-repeat;*/
/*}*/
