<mat-card class="wine-card">
  <mat-card-header>
    <div mat-card-avatar class="wine-card-header-image">
      <img mat-card-image src="{{wineImage?.value[0]?.url}}" alt="Avatar of wine">
    </div>
    <mat-card-title>{{winePage?._embedded?.wines[pageIndex%20]?.name}}</mat-card-title>
    <mat-card-subtitle>{{winePage?._embedded?.wines[pageIndex%20]?.title}}</mat-card-subtitle>
    <!--<mat-card-subtitle>{{wine.variety}}</mat-card-subtitle>-->
    <!--<mat-card-subtitle>{{wine.country}}</mat-card-subtitle>-->
    <!--<mat-card-subtitle>{{wine.designation}}</mat-card-subtitle>-->
  </mat-card-header>

  <!--TODO: Add a placeholder image while image loads-->
  <img mat-card-image src="{{wineImage?.value[0]?.url}}" alt="Photo of wine">
  <!--<img ng-src="{{item.url}}" altSrc="{{item.alt_url}}" onerror="this.src = $(this).attr('altSrc')">-->
  <mat-paginator [length]="length"
                 [pageSize]="pageSize"
                 [pageIndex]="pageIndex"
                 [pageSizeOptions]="pageSizeOptions"
                 (page)="handlePage($event)">
  </mat-paginator>
  <mat-card-content>
    <p>
      {{winePage?._embedded?.wines[pageIndex%20]?.description}}
    </p>
    <p mat-card-subtitle class="author-info">
      {{'-' + winePage?._embedded?.wines[pageIndex%20]?.taster_name}}
    </p>
    <div id="twitter-handle">
      <img src="../../assets/twitter.svg" alt="twitter icon">
      <a href="{{'https://twitter.com/' + winePage?._embedded?.wines[pageIndex%20]?.taster_twitter_handle}}">
        {{winePage?._embedded?.wines[pageIndex%20]?.taster_twitter_handle}}

      </a>
    </div>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
