<!-- <mat-toolbar color="primary" class="app-navbar">
  <mat-toolbar-row class="mat-elevation-z6">
    <span>{{title}}</span>
    <span class="toolbar-icon-spacer"></span>
    <div mat-button="">
      <span class="mat-button-wrapper">Components</span>
      <div class="mat-button-ripple mat-ripple" matripple="">
      </div>
      <div class="mat-button-focus-overlay"></div>
    </div>
    <a mat-button="">
      <span class="mat-button-wrapper">Components</span>
      <div class="mat-button-ripple mat-ripple" matripple="">
      </div>
      <div class="mat-button-focus-overlay"></div>
    </a>
  </mat-toolbar-row>
</mat-toolbar> -->
<nav class="docs-navbar-header">
  <a mat-button class="docs-button" routerLink="/" aria-label="Angular Material">
    <img class="docs-angular-logo"
         src="../../assets/wine-bottle.svg"
         alt="angular">
    <span>{{title}}</span>
  </a>

  <div class="flex-spacer"></div>
  <a mat-button class="docs-navbar-hide-small docs-button" routerLink="guides">Guides</a>

</nav>
