<nav class="navbar-header">
  <img class="nav-icon"
       src="../../assets/wine-bottle.svg"
       alt="bottle">
  <a mat-button routerLink="home">Home</a>
  <div class="navbar-hide-small">
    <i class="material-icons nav-icon">
      shopping_basket
    </i>
    <a mat-button class="navbar-hide-small" routerLink="shop">Shop</a>
  </div>
  <div class="navbar-hide-small">
    <i class="material-icons nav-icon">
      contact_mail
    </i>
    <a mat-button class="navbar-hide-small" routerLink="contact">Contact</a>
  </div>

  <div class="flex-spacer"></div>

  <i class="material-icons">
    person
  </i>
  <a mat-button routerLink="login">Login</a>

</nav>
<nav class="navbar-header navbar-show-small">
  <div>
    <i class="material-icons nav-icon">
      shopping_basket
    </i>
    <a mat-button routerLink="shop">Shop</a>
  </div>
  <div>
    <i class="material-icons nav-icon">
      contact_mail
    </i>
    <a mat-button routerLink="contact">Contact</a>
  </div>

  <!--<div class="flex-spacer"></div>-->

</nav>
