<nav class="docs-navbar-header">
  <a mat-button class="docs-button" routerLink="/" aria-label="Angular Material">
    <img class="docs-angular-logo"
         src="../../assets/wine-bottle.svg"
         alt="angular">
    <a mat-button class="" routerLink="home">Home</a>
  </a>

  <a mat-button class="docs-navbar-hide-small docs-button" routerLink="shop">Shop</a>
  <a mat-button class="docs-navbar-hide-small docs-button" routerLink="contact">Contact</a>

  <div class="flex-spacer"></div>
  <a mat-button class="docs-navbar-hide-small docs-button" routerLink="login">Login</a>

  <nav class="docs-navbar docs-navbar-show-small">
    <a mat-button class="docs-navbar-link" routerLink="guides">Login</a>
  </nav>
</nav>
<nav class="docs-navbar docs-navbar-show-small">
  <a mat-button class="docs-navbar-link" routerLink="shop">Shop</a>
  <a mat-button class="docs-navbar-link" routerLink="contact">Contact</a>
</nav>
